$primary-color: #F3F3F3;
$secondary-color: #3C1874;
$warning: #932432;
$text-primary: #283747;
$text-secondary: #932432;

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $primary-color;
    font-family: 'Lato', sans-serif;
    color: $text-primary;
}

.Gallery{
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid green;
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }
}

.SearchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.SearchResultslist{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    &__header{
        width: 100%;
        display: grid;
        grid-template-columns: 66% 20%;
        grid-column-gap: 4%;
        line-height: 1.7rem;
    }
    &__list{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__entry{
        display: grid;
        grid-template-columns: 66% 20%;
        grid-column-gap: 4%;
        line-height: 1.7rem;
        padding-bottom: 1rem;
    }
}
